Repository piotrmaliga-git/pokepedia: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

conf: add lint-staged in to the pre-commit husky hook
  .husky/pre-commit
Due: none

conf: change default port in lighthouse scan and axe check github actions
  .github/workflows/axe_check.yml
  .github/workflows/lighthouse_scan.yml
Due: none

fix: add noopener attribute in all links tags marked by sonar scan
  src/components/Footer/FooterIcons.vue
  src/components/Footer/FooterLinks.vue
Due: none

fix: delete commented code and deprecated frameborder attribute from iframe tag
  src/components/GamesAndApps/GamesAndApps.vue
  src/components/Header/Navbar/LangToggleButton.vue
Due: none

conf: changes in format scripts area in package.json
  package.json
Due: prettier --write

conf: add .prettierignore file
  .prettierignore
Due: none

conf: add prettier formatting
  src/components/Footer/FooterIcons.vue
  src/components/Footer/FooterLinks.vue
  src/components/GamesAndApps/GamesAndApps.vue
  src/components/Header/Navbar/LangToggleButton.vue
Due: none

conf: changes in unit_test github actions and script namings
  .github/workflows/unit_tests.yml
  package.json
Due: prettier --write

conf: changes in format & lint check unit_test github action
  .github/workflows/format_&_lint.yml
Due: none

conf: changes in lighthouse scan and axe check github action
  .github/workflows/axe_check.yml
  .github/workflows/lighthouse_scan.yml
Due: none

conf: add pull_request_template.md file
  .github/pull_request_template.md
Due: none

conf: add new rules in to the eslintrc.cjs
  .eslintrc.cjs
Due: none

ref: move styles from assets directory
  src/styles/main.css
Due: none

feat: add styles path alias
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --fix, eslint

fix: use styles path alias in main.ts
  src/main.ts
Due: prettier --write, eslint --fix, eslint

ref: move favicon to the assets directory + update path in index.html
  index.html
  public/favicon.png
  src/assets/images/favicon/favicon.png
Due: none

fix: rename interfaces naming
  src/types/interfaces/image.ts
  src/types/interfaces/modal.ts
Due: prettier --write, eslint --fix, eslint

fix: disable eslint lint error in firebase index.js
  src/firebase/index.js
Due: prettier --write, eslint --fix, eslint

fix: delete older main.css file
  src/assets/styles/main.css
Due: none

fix: disable eslint lint error in a few components
  src/components/Header/Navbar/Navbar.vue
  src/components/Header/Navbar/NavbarLinks.vue
  src/views/Auth/SignIn/SignInForm.vue
  src/views/Auth/SignUp/SignUpForm.vue
Due: none

fix: solve vue/no-child-content issue
  src/components/shared/Image/Image.vue
Due: none

ref: split scrollbar styles to the secreted fle
  src/styles/main.css
  src/styles/scrollbar.css
Due: none

conf: update prettier and prettier-plugin-tailwindcss
  package-lock.json
  package.json
Due: prettier --write

conf: delete 'eslint-plugin-tailwindcss' from tailwind.config file
  tailwind.config.js
Due: prettier --write, eslint --fix, eslint

conf: install wait-on package
  package-lock.json
  package.json
Due: prettier --write

fix: trying to solve lighthouse scan github action
  .github/workflows/lighthouse_scan.yml
Due: none

fix: trying to solve axe check github action
  .github/workflows/axe_check.yml
Due: none

Path conditions:
  prettier --write: (any of: *.{.vue,ts,js}) or (any of: *.json)
  eslint --fix: any of: *.{.vue,ts,js}
  eslint: any of: *.{.vue,ts,js}
